<h1>Crear nuevo Producto</h1>
<form id="newProductForm">
    <span id="newProductMessage"></span>
    <label for="title">Nombre producto</label>
    <input id="title" type="text" required>
    <label for="description">Descripcion</label>
    <input id="description" type="text" required>
    <label for="code">Código</label>
    <input id="code" type="text" required>
    <label for="price">Precio</label>
    <input id="price" type="number" required>
    <label for="stock">Stock</label>
    <input id="stock" type="number" required>
    <label for="category">Categoría</label>
    <input id="category" type="text" required>
    <button type="submit">Crear</button>
</form>
<script src="js/postProduct.js"></script>